<%- include ('./partials/head') %>

    <!--  BEGIN NAVBAR  -->
    <%- include ('./partials/header') %>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <%- include ('./partials/sidebar') %>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">

                    <!--  BEGIN BREADCRUMBS  -->
                    <div class="secondary-nav">
                        <div class="breadcrumbs-container" data-page-heading="Analytics">
                            <header class="header navbar navbar-expand-sm">
                                <a href="javascript:void(0);" class="btn-toggle sidebarCollapse"
                                    data-placement="bottom">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-menu">
                                        <line x1="3" y1="12" x2="21" y2="12"></line>
                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                        <line x1="3" y1="18" x2="21" y2="18"></line>
                                    </svg>
                                </a>
                                <div class="d-flex breadcrumb-content">
                                    <div class="page-header">

                                        <div class="page-title">
                                        </div>

                                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item active"><a href="/admin/dashboard">Home</a></li>
                                                <!-- <li class="breadcrumb-item active" aria-current="page">Analytics</li> -->

                                            </ol>
                                        </nav>

                                    </div>
                                </div>

                            </header>
                        </div>
                    </div>
                    <!--  END BREADCRUMBS  -->

                    <div class="row layout-top-spacing">

                        <div class="col-xl-2 col-md-3 col-sm-12 col-12 layout-spacing">
                            <a href="/admin/masters">
                                <div class="card">
                                    <div class="card-body custom-tab">
                                        <i class="fa-solid fa-microchip"></i>
                                        <h6 class="my-2">Master</h6>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- <div class="col-xl-2 col-md-3 col-sm-12 col-12 layout-spacing">
                            <a href="/admin/cost-sheet">
                                <div class="card">
                                    <div class="card-body custom-tab">
                                        <i class="fa-solid fa-file-contract"></i>
                                        <h6 class="my-2">Cost Sheet</h6>
                                    </div>
                                </div>
                            </a>
                        </div> -->
                    </div>

                </div>

            </div>
            <!--  BEGIN FOOTER  -->
            <!-- <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2023</span> <a target="_blank" href="">Autoriders
                            International Ltd</a>, All rights reserved.</p>
                </div>
            </div> -->
            <!--  END FOOTER  -->
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    <%- include ('./partials/footer') %>

    <%- include ('./partials/footer-end') %>