<%- include ('./partials/head') %>

  <!--  BEGIN NAVBAR  -->
  <%- include ('./partials/header') %>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

      <div class="overlay"></div>
      <div class="search-overlay"></div>

      <!--  BEGIN SIDEBAR  -->
      <%- include ('./partials/sidebar') %>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
          <div class="layout-px-spacing">

            <div class="middle-content container-xxl p-0">

              <!--  BEGIN BREADCRUMBS  -->
              <div class="secondary-nav">
                <div class="breadcrumbs-container" data-page-heading="Analytics">
                  <header class="header navbar navbar-expand-sm">
                    <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                      </svg>
                    </a>
                    <div class="d-flex breadcrumb-content">
                      <div class="page-header">

                        <div class="page-title">
                        </div>

                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="/admin/dashboard">Home</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">Analytics</li> -->

                          </ol>
                        </nav>

                      </div>
                    </div>

                  </header>
                </div>
              </div>
              <!--  END BREADCRUMBS  -->


              <div class="main-content">
                <div class="table-template">
                  <div class="table-header">
                    <div class="table-title">
                      <h3>Cost Sheets</h3>
                    </div>

                    <!-- <a href="/admin/tour/create" class="create-tour btn my-2">
                  Create Tour<i class="fa-regular fa-square-plus mx-2"></i>
                </a> -->

                    <a href="/admin/cost-sheet-generator" class="create-tour btn my-2">
                      New Cost Sheet<i class="fa-regular fa-square-plus mx-2"></i>
                    </a>

                  </div>

                  <div class="table-filter-container"></div>
                  <div class="table-content">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="table-content">
                        <thead>
                          <tr>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Nights</th>
                            <th scope="col">Days</th>
                            <th class="text-center" scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% let i=1; for(let data of tourData) { %>

                            <tr data-id="<%= data.id %>">
                              <td>
                                <%= i %>
                              </td>

                              <td class="tour-name">
                                <%= data.name %>
                              </td>
                              <td class="tour-nights">
                                <%= data.duration_nights %>
                              </td>
                              <td class="tour-days">
                                <%= data.duration_days %>
                              </td>
                              <td class="text-center">
                                <div class="action-btns">
                                  <a href="/admin/cost-sheet-generator?id=">
                                    <i class="fa-regular fa-pen-to-square cursor-pointer btn-edit me-2"></i>
                                  </a>
                                  <a href="#">
                                    <i class="fa-solid fa-trash-can text-danger cursor-pointer btn-delete"></i>
                                  </a>
                                </div>
                              </td>
                            </tr>

                            <% i++ %>
                              <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
          <!--  BEGIN FOOTER  -->
          <!-- <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2023</span> <a target="_blank" href="">Autoriders
                            International Ltd</a>, All rights reserved.</p>
                </div>
            </div> -->
          <!--  END FOOTER  -->
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    <%- include ('./partials/footer') %>

      <script>
        $(document).ready(function () {

        })
      </script>

      <%- include ('./partials/footer-end') %>