<%- include ('../partials/head') %>

<!--  BEGIN NAVBAR  -->
<%- include ('../partials/header') %>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="search-overlay"></div>

  <!--  BEGIN SIDEBAR  -->
  <%- include ('../partials/sidebar') %>
  <!--  END SIDEBAR  -->

  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">
      <div class="middle-content container-xxl p-0">
        <!--  BEGIN BREADCRUMBS  -->
        <div class="secondary-nav">
          <div class="breadcrumbs-container" data-page-heading="Analytics">
            <header class="header navbar navbar-expand-sm">
              <a href="javascript:void(0);" class="btn-toggle sidebarCollapse" data-placement="bottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                  <line x1="3" y1="12" x2="21" y2="12"></line>
                  <line x1="3" y1="6" x2="21" y2="6"></line>
                  <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
              </a>
              <div class="d-flex breadcrumb-content">
                <div class="page-header">
                  <div class="page-title"></div>

                  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active">
                        <a href="./masters">Master</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        country
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </header>
          </div>
        </div>
        <!--  END BREADCRUMBS  -->

        <div class="main-content">
          <div class="table-template">
            <div class="table-header">
              <div class="table-title">
                <h3>Country</h3>
              </div>
              <div class="table-actions">
                <button style="background: none; border: none" class="create-country-modal">
                  <i class="fa-regular fa-square-plus"></i>
                </button>
              </div>
            </div>

            <div class="table-content">
              <div class="table-filter-container"></div>
              <div class="table-content">
                <div class="table-responsive">
                  <table class="table table-bordered" id="table-content">
                    <thead>
                      <tr>
                        <th scope="col">Sr No.</th>
                        <th scope="col">Country Name</th>
                        <th scope="col">Country Code</th>
                        <th class="text-center" scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let i=1; for(let data of countryData) { %>

                      <tr data-id="<%= data.id %>">
                        <td>
                          <%= i %>
                        </td>

                        <td class="country-name">
                          <%= data.name %>
                        </td>
                        <td class="country-code">
                          <%= data.code %>
                        </td>
                        <td class="text-center">
                          <div class="action-btns">
                            <a href="javascript:void(0);" class="action-btn btn-edit bs-tooltip me-2" data-id="<%= data.id %>" data-toggle="tooltip" data-placement="top" title="Edit">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                              </svg>
                            </a>
                            <a href="javascript:void(0);" class="action-btn btn-delete bs-tooltip" data-id="<%= data.id %>" data-toggle="tooltip" data-placement="top" title="Delete">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                </path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                              </svg>
                            </a>
                          </div>
                        </td>
                      </tr>

                      <% i++ %>
                      <% } %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->

<!--ADD Modal -->
<div class="modal fade" id="add-country-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="add-country-modal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content modal-inputform">
      <div class="modal-header modal-inputform-header">
        <h5 class="modal-title text-dark" id="">ADD COUNTRY</h5>
        <button type="button" class="btn fs-4 text-dark" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="row info-container">
          <div class="col-md-3 select-fields">
            <div class="mb-3">
              <label class="form-label" for="add-country-input">Country</label>
              <input type="text" class="form-control" id="add-country-input" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="add-country-code-input">Country Code</label>
              <input type="text" class="form-control" id="add-country-code-input" />
            </div>

            <div class="mb-3 d-grid gap-2">
              <button class="btn text-light add-country btn-info">ADD</button>
            </div>
          </div>
          <div class="col-md-9 selected-fields">
            <div class="table-responsive">
              <table class="table table-bordered" id="add-more-country-table">
                <thead>
                  <th>Sr No.</th>
                  <th>Country</th>
                  <th>Country Code</th>
                  <th>Action</th>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn create-country btn-primary">
          CREATE
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit modal -->

<div class="modal fade" id="edit-country-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="edit-country-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content modal-inputform">
      <div class="modal-header modal-inputform-header">
        <h5 class="modal-title text-dark" id="">EDIT COUNTRY</h5>
        <button type="button" class="btn fs-4 text-dark" data-bs-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="select-fields">
          <div class="mb-3">
            <label class="form-label" for="edit-country-input">Country</label>
            <input type="text" class="form-control" id="edit-country-input" />
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn save-country btn-primary">SAVE</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit modal -->
<%- include ('../partials/footer') %>

<!-- CUSTOM JS SCRIPT -->
<script>
  $(document).ready(function() {
    $(".create-country-modal").on("click", function() {
      $("#add-country-modal").modal("show");
    });

    function serializeTable(tableId) {
      let i = 1;
      $(`#${tableId} tbody tr`).each((index, element) => {
        $(element).find("td:eq(0)").text(i);
        i++;
      });
    }

    $(document).on("click", ".add-country", function() {
      let countryName = $("#add-country-input").val();
      let countryCode = $("#add-country-code-input").val();
      countryName = countryName.trim().toUpperCase();
      countryCode = countryCode.trim().toUpperCase();
      let duplicate = false;
      if ($(document).find(".add-country-row").length > 0) {
        $(document).find(".add-country-row").each((index, element) => {
          if ($(element).find('.country-name').text() == countryName || $(element).find('.country-code').text() == countryCode) {
            createAlert({
              title: 'ERROR',
              msg: 'You cannot add duplicate Country Name/Code',
              type: 'negative'
            })
            duplicate = true;
          }
        });
      }
      if (duplicate) {
        return;
      }

      let count = $("#add-more-country-table tbody tr").length == undefined ? 0 : $("#add-more-country-table tbody tr").length;
      let tableRow = `<tr class="add-country-row">
            <td>${++count}</td>
            <td class="country-name">${countryName}</td>
            <td class="country-code">${countryCode}</td>
            <td><button class='delete-row'>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line>
                </svg>
                </button></td>
            </tr>`;

      $("#add-more-country-table tbody").append(tableRow);
      $("#add-country-input").val('');
      $("#add-country-code-input").val('');
    });

    // add-country modal - for deleting added countries in table
    $(document).on("click", ".delete-row", function() {
      let tableId = $(this).closest("table").attr("id");
      $(this).closest("tr").remove();
      if ($(`#${tableId} tbody tr`).length > 0) {
        serializeTable(tableId);
      }
    });

    // CREATE COUNTRY START
    $(document).on("click", ".create-country", function() {
      let countries = [];
      if ($(document).find(".add-country-row").length > 0) {
        $(document).find(".add-country-row").each((index, element) => {
          let obj ={
              name: $(element).find('.country-name').text().trim().toUpperCase(),
              code: $(element).find('.country-code').text().trim().toUpperCase()
            }
           
            countries.push(obj);
        });
      }

      $.ajax({
        method: "POST",
        url: "/admin/country/add",
        data: {
          country: JSON.stringify(countries),
        },
        success: function(response) {
          console.log('response STATUS CODE:::::::::::::::::::', response[0].add_new_countries.status)

          if (response[0].add_new_countries.status == 200) {
            alert("SUCCESS - Successfully Added Country");
            location.reload(true);
          } else {
            let duplicateCountries =
              response[0].add_new_countries.error_result;
            let countryNames = "";
            duplicateCountries.forEach((element) => {
              countryNames += `${element.name}, `;
            });
            countryNames = countryNames.substring(0, countryNames.length - 2);
            createAlert({
              title: response[0].add_new_countries.message,
              msg: countryNames,
              type: 'negative'
            })
          }
          $("#add-country-modal").modal("hide");
        },
        error: function(error) {
          createAlert({
            title: "ERROR",
            msg: "not done",
            type: "negative",
          });
          $("#add-country-modal").modal("hide");
        },
      });
    });


    // EDIT COUNTRY START

    $(document).on("click", ".btn-edit", function() {
      console.log("edit btn clicked");
      $("#edit-country-modal").modal("show");
      let countryName = $(this).closest("tr").find(".country-name").text().trim();
      console.log("country::::::::::::::::>>", countryName);
      $("#edit-country-input").val(countryName);
      $(".save-country").attr("data-id", $(this).attr("data-id"));
    });

    $(document).on("click", ".save-country", function() {
      let countryName = $("#edit-country-input").val().trim().toUpperCase();
      let countryId = $(this).attr("data-id");
      $.ajax({
        method: "POST",
        url: "/admin/country/edit",
        data: {
          countryName: countryName,
          countryId: countryId,
        },
        success: function(response) {
          $("#edit-country-modal").modal("hide");
          if (response.status === 200) {
            createAlert({
              title: 'Success',
              msg: response.msg,
              type: "positive",
            });

            $('#table-content').find(`tr[data-id="${countryId}"] .country-name`).text(countryName);
          }
        },
        error: function(error) {
          console.log(error);
          createAlert({
            title: 'Error',
            msg: response.msg,
            type: "negative",
          });
        },
      });
    });
  });
  // EDIT COUNTRY END


  // DELETE COUNTRY START

  // DELETE COUNTRY START

  $(document).on('click', '.btn-delete', function() {
    let countryId = $(this).attr("data-id");
    let thisBtn = $(this);
    const isConfirmed = confirm('Are you sure you want to remove the city?');

    if (!isConfirmed) {
      return false;
    }

    $.ajax({
      method: "POST",
      url: "/admin/country/delete",
      data: {
        countryId: countryId,
      },
      success: function(response) {
        if (response.status === 200) {
          createAlert({
            title: 'Success',
            msg: response.msg,
            type: "positive",
          });

          thisBtn.closest("tr").remove();
          $('.bs-tooltip-top').remove();
        }
      },
      error: function(error) {
        if (response.status === 500) {
          createAlert({
            title: 'ERROR',
            msg: response.msg,
            type: "negative",
          });
        }
      },
    });
  })
</script>
<!--END CUSTOM JS SCRIPT -->

<%- include ('../partials/footer-end') %>